.logo-ctl{
  width: 100px;
  height: 100px;
}
.logoname{
  color:rgb(2, 145, 150);
  font-weight: bold;
}

.myNav li a{
color: black;
font-size: 20px;
font-weight: bold;
padding: 5px;
}

.myNav li a:hover{
  color: rgb(2, 145, 150);
  }

.hero-left{
 
}

.hero-left h2{
color: black;
padding-bottom: 10px;
padding-top: 100px;
}


.hero-left p{
  color: black;
  font-size: 16px;
  }
.hero-logo{
  color: rgb(2, 145, 150);
}

.hero-button{
  background: rgb(2, 145, 150);
  padding: 20px;
  border: 0px;
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.hero-button:hover{
  background:rgba(38, 157, 119, 0.949);
}

.body-content{
  margin-top: 50px;
  background-color: rgb(243, 241, 241);
  padding: 30px;
  width:435px;
  border:5px solid white;
  margin-bottom: 50px;
  
}

.footer{
  text-align: center;
  background-color: black;
  color:white;
  padding: 30px;
}


.loginArea{
  min-height: 500px;
}
.loginBody{
  margin-top: 200px;
}

.loginbutton{
  background-color: rgb(2, 145, 150);
  font-size: 20px;
  color:white;
  border: 0px;
  padding: 10px 40px;
  border-radius: 0px;
}
.loginbutton:hover{
  background-color: black;
}
.loginBody input{
  border-radius: 0px;
}

.themebutton{
  background-color: rgb(2, 145, 150);
  padding:10px 40px;
  margin-right: 10px;
  border-radius: 0px;
  border: 0px;
}

.themebutton:hover{
  background-color:black;
 
}

.transection-area{
  min-height: 700px;
}
.transection-form input{
  border-radius: 0px;
}
.myImage {
  width: 90%; 
  height: auto; 
}
.mastercard {
  width: 90%; 
  height: auto; 
}
.myForm {
  margin-top: 50px; 
}
.myHeading {
  margin-top: -150px; 
}